@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.font-logo {
    font-family: "Leckerli One", cursive;
    font-size: 1.5em;
    font-weight: bold;
}